* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: rgb(7, 7, 7);
   background: linear-gradient(99deg, rgba(7, 7, 7, 1) 0%, rgba(3, 2, 20, 1) 94%);
   color: #fff;

}


.Hero_section {
   height: 100vh;
   width: 100%;
   /* animation: img 1s ease-in 0s 1; */
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: 'Roboto', sans-serif;
   height: 10vh;
}

.logo {
   font-size: 40px;
   font-family: 'Zeyada', cursive;
   padding-left: 10px;
   color: rgb(105, 105, 105);

}

.N:hover {
   color: #4285F4;
   cursor: pointer;
}

.R:hover {
   color: #fbbc05;
   cursor: pointer;
}

.J:hover {
   color: #34a853;
   cursor: pointer;
}

nav ul li {
   display: inline-block;
   list-style: none;
   margin: 10px 20px;
   color: white;
}

nav ul li a {
   color: white;
   text-decoration: none;
   font-size: 20px;
   position: relative;
}

nav ul li a::after {
   content: '';
   width: 0%;
   height: 3px;
   background-color: rgb(248, 71, 71);
   position: absolute;
   left: 0;
   bottom: -6px;
   transition: 0.5s;

}

nav ul li a:hover::after {
   width: 100%;
}

.imgparent {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: -10vh;
}

.bgimg {
   animation: bg 1.2s ease 0s 1;
   width: 45%;
   height: 100%;
}

.bgimg2 {
   animation: bgmov 5s ease-in-out 0s infinite alternate;
}

.header-text {
   position: relative;
   top: -17vh;
   display: flex;
   flex-direction: column;
   font-size: 30px;
   padding-left: 1%;
}

.header-text h1 {
   font-size: 60px;
   margin-top: 5px;
   color: #fff;
   position: relative;
   /* animation: first 2s ease 0s 1 alternate; */
}

#mainname {
   color: rgb(248, 71, 71);
}

p {
   color: white;
}

#cursor {
   animation: blink 0.8s infinite;
}

.ccc2 {
   display: none;
   font-size: 20px;
   margin-top: 5px;
}

.homeicon {
   height: 10vh;
   display: none;
   align-items: center;
   justify-content: center;
   align-content: center;
}

.homeicon i {
   margin-right: 10px;
   color: #fff;
   font-size: 20px;

}

.homeicon i:hover {

   color: rgb(248, 71, 71);

}

.about {
   padding: 7%;
   color: bisque;
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: space-between;

}

.about-col-1 {
   width: 50%;
   padding: 1%;
   display: flex;
   justify-content: center;
   align-items: center;

}


.about-col-1 img {
   border-radius: 15px;
   width: 80%;
   transition-duration: 1s;
   transition-timing-function: ease-in-out;
}

.about-col-1 img:hover {
   box-shadow: 1px 1px 50px #2a2a2a;
   scale: 1.01;
}

.about-col-2 {
   width: 50%;
   display: flex;
   align-items: top;
   align-content: center;
   justify-content: center;


}

.about-col-2-inner {
   display: flex;
   flex-direction: column;
   padding-top: 30px;

}

.sub-title {
   font-size: 40px;
   font-weight: 600;
   color: rgb(248, 71, 71);

}

.tab-titles {
   display: flex;
   margin: 20px 0 40px;
}

.tab-links {
   margin-right: 40px;
   font-size: 18px;
   font-weight: 300;
   cursor: pointer;
   position: relative;
}

.tab-links::after {
   content: '';
   width: 0;
   height: 2px;
   background: rgb(248, 71, 71);
   ;
   position: absolute;
   left: 0;
   bottom: -8px;
   transition: 0.5s;
}

.tab-links.active-link::after {
   width: 80%;
}

.tab-contents ul li {
   list-style: none;
   margin: 10px 0;
}

.tab-contents ul li span {
   color: rgb(248, 71, 71);
   font-size: 18px;
}

.tab-contents {

   display: none;
   font-family: monospace;
}

.tab-contents.active-tab {
   display: block;
}

.services,
.projects {
   width: 100%;
   height: auto;
   padding: 100px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Roboto', sans-serif;
}

.p1 {
   padding: 0;
}

.s2,
.p2 {
   display: flex;
   flex-direction: column;
   width: 80%;
   height: auto;
}

.s2 h2,
.p2 h2 {
   font-size: 70px;
   padding-bottom: 80px;
}

.s3,
.p3 {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   opacity: 0.8;
   transform: translateY(20%)
}

.s4,
.p4 {
   height: 250px;
   width: 350px;
   margin: 20px;
   padding: 10px;
   background-color: #2a2a2a;
   border-radius: 10px;
   overflow: hidden;
   position: relative;
}

.s4:hover {
   scale: 1.01;
   background-color: rgb(248, 71, 71);

}

.p4 img {
   width: 150%;
   display: block;
   background-size: contain;

}

.s4 i {
   font-size: 60px;
   margin-bottom: 20px;
}

.s4 h3 {
   font-size: 30px;
   margin-bottom: 5px;
}

.s4 p {
   font-size: 12px;
}

.s4 button {
   margin-top: 10px;
   border: none;
   background-color: transparent;
   color: #fff;
   cursor: pointer;
}

.layer {
   background: transparent;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transition: 0.5s;
}

.layer:hover {
   background: linear-gradient(#00000099, #f84747);
}

.layer h3,
.layer img {
   width: 100%;
   font-weight: 600;
   color: #fff;
   font-size: 40px;
   position: absolute;
   padding-left: 10px;
   bottom: 0%;
   left: 50%;
   transform: translateX(-50%);
   opacity: 0;
   transition: 0.5s;
   background: transparent;
}

.layer:hover h3,
.layer:hover img {
   bottom: 10%;
   opacity: 1;
}

.layer img {
   width: 10%;
   padding-bottom: 15px;
   top: 6%;
   right: 0%;
   left: auto;
}

#projectbtn,
#projectbtn2 {
   width: 150px;
   color: #fff;
   background-color: transparent;
   border: none;
   border-radius: 5px;
   padding: 10px;
   font-weight: 600;
   transition-duration: 0.5s;
   transition-timing-function: ease-in-out;
   box-shadow: 1px 1px 1px;
   margin-top: 40px;
   justify-content: center;
}

#projectbtn2 {
   display: none;
}

#projectbtn:hover,
#projectbtn2:hover {
   color: #f84747;
}

.centerdiv {
   width: 100%;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
}

/* animation on scroll */
.defaultServices {
   opacity: 0;
   transform: translateY(2vh);
}

.dynamicServices {
   opacity: 1;
   transform: translateY(0);
   transition: all 1s ease-in-out;
}

.dynamicBox {
   opacity: 1;
   transition: 1s ease;
   transform: translateY(0%)
}

.hideproject {
   display: none;
}

.showproject {
   display: flex;
   animation: project 0.2s ease-in-out 0s;
}

.contact {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 70vh;
   background-color: #333;
   padding: 2%;
   font-family: 'Roboto', sans-serif;
}

.leftcontact {
   width: 50%;
   padding: 10%;
   display: flex;
   flex-direction: column;
}

.leftcontact h1 {
   font-size: 56px;
   margin-bottom: 20px;
}

.leftcontact p {
   margin-bottom: 10px;
}

.icon {
   margin-top: 20px;
   margin-left: 50px;
}

.leftcontact i {
   margin-right: 10px;
   color: #fff;
   font-size: 20px;

   transform: translateY(10%);

}

.leftcontact i:hover {

   color: rgb(248, 71, 71);

   transform: translateY(0)
}

.rightcontact {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

input[type="text"],
input[type="email"],
textarea {
   padding: 10px;
   margin-bottom: 10px;
   width: 100%;
   border: 1px solid #ccc;
   border-radius: 4px;
}

textarea {
   height: 150px;
}

.submit {
   padding: 10px 20px;
   background-color: #333;
   color: #fff;
   border: none;
   cursor: pointer;
   transition-duration: 1s;
   transition-timing-function: ease-out;
}

.submit:hover {
   background-color: rgb(248, 71, 71);
}

#mail,
#call {
   text-decoration: none;
   color: #fff;
}

@keyframes blink {

   0%,
   100% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }
}

/* @keyframes first {
   from {
      opacity: 0.2;
   }

   to {
      opacity: 1;
   }
} */

@keyframes bg {
   from {
      scale: 0.9;
   }

   to {
      scale: 1;
   }
}

@keyframes bgmov {
   from {
      transform: translateY(-2vh);
   }

   to {
      transform: translateY(0vh);
   }
}

/* @keyframes img {
   from {
      opacity: 0.5;
   }

   to {
      opacity: 1;
   }
} */

@keyframes project {

   0% {
      opacity: 0.5;
      transform: translateY(-5vh);
   }

   100% {
      opacity: 1;
      transform: translateY(0vh);
   }
}

@media (max-width:768px) {

   .bgimg {
      width: 60%;
   }

   .about-col-1 img {
      border-radius: 15px;
      width: 80%;
      height: 50%;
   }

   .tab-contents {
      overflow: scroll;
   }

   .services,
   .s2 {
      height: auto;
   }

   .leftcontact {
      padding: 0px;
   }
}

@media (max-width:450px) {
   nav ul li a {
      display: none;
   }

   .ccc {
      display: none
   }

   .ccc2 {
      display: flex;
   }

   .homeicon {
      display: flex;
   }

   .imgparent {
      height: 60vh;
      margin-top: 0;
   }

   .bgimg {
      width: 90%;
   }

   .header-text {
      top: 0;
      height: 20%;
      padding-left: 3%;
   }

   .header-text h1 {
      font-size: 30px;
   }

   #mainname {
      display: block;
      font-size: 40px;
   }

   .about {
      flex-direction: column;
      height: auto;
   }

   .about-col-1 {
      padding: 0;
   }

   .about-col-1,
   .about-col-2 {
      width: 100%;
   }

   .about-col-1 img {
      height: 100%;
      border-radius: 50%;
   }

   .contact {
      flex-direction: column;
      height: auto;
      padding: 50px 0px;
   }

   .leftcontact {
      width: 90%;
      padding-bottom: 30px;
   }

   .rightcontact {
      width: 70%;

   }

}