*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
    
 body{
    background: black;
    color: #fff;
    /* font-family: 'Roboto', sans-serif; */
    
 }

.Hero_section{
   min-height: 100vh;
   min-width: 100vh;
background-image: url("19691.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position:center;
padding: 10px 10px;
animation: img 1s ease-in 0s 1  ;


}
.Hero_section:hover{
   background-color: #2a2a2a;
}
@keyframes img{
   from{
      opacity: 0.3;
      
      
      
   }
   to{
      opacity: 1;
      
   }
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
font-family: 'Roboto', sans-serif;

}
.logo{
   font-size: 40px;
   font-family: 'Zeyada', cursive;
   padding-left: 10px;
   color: rgb(105, 105, 105);

}

.N:hover{
   color:#4285F4 ;
}
.R:hover{
   color:#fbbc05 ;
}
.J:hover{
   color:#34a853 ;
}
#name{
   display: inline;
   
color: rgb(248, 71, 71);
}
nav ul li{
display: inline-block;
list-style: none;
margin: 10px 20px;
color: white;
}
nav ul li a{
color:white;
text-decoration: none;
font-size: 20px;
position: relative;
}

nav ul li a::after{
content: '';
width: 0%;
height: 3px;
background-color: rgb(248, 71, 71);
position: absolute;
left: 0;
bottom: -6px;
transition:0.5s ;

}
nav ul li a:hover::after{
width: 100%;
}

.header-text{
margin-top: 35%;
font-size: 30px;
}
.header-text h1 {
font-size: 60px;
margin-top: 5px;
color:#fff;
position: relative;
animation: first  0.7s ease 0s 1 alternate;
}
@keyframes first{
   from{
      bottom: -50px;
      left: -30px;
   }
   to{
      bottom: 0px;
      left: 0px;
   }

}
.header-text  img {
   height: 0;
   transition: height 1s ;


}

.header-text  img:hover{
   height: 1;
   

}

p{
color: white;
}

#about{
padding: 70px ;
color:bisque;
}
.row{
display: flex;
justify-content: space-between;
}
.about-col-1{
flex-basis: 50%;
}
.about-col-1 img{
border-radius: 15px;
height: 500px;
width: 500px;
}
.about-col-2{
flex-basis: 50%;
}
.sub-title{
font-size: 40px;
font-weight: 600;
color: rgb(248, 71, 71);

}
.sub-title p{
font-size: 30px;
}

.tab-titles{
display: flex;
margin : 20px 0 40px;
}

.tab-links{
margin-right: 40px;
font-size: 18;
font-weight: 300;
cursor: pointer;
position: relative;
}

.tab-links::after{
content: '';
width: 0;
height: 2px;
background: rgb(248, 71, 71); ;
position: absolute;
left: 0;
bottom: -8px;
transition: 0.5s;
}
.tab-links.active-link::after{
width: 80%;
}
.tab-contents ul li{
list-style: none ;
margin: 10px 0 ;
}
.tab-contents ul li span{
color: rgb(248, 71, 71) ;
font-size: 18px;
}
.tab-contents{
   
   display: none;
   
font-family:monospace;
}

.tab-contents.active-tab{
display: block;
}

.services{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: top;
   justify-content: center;
   align-content: center;
   
font-family: 'Roboto', sans-serif;
}
.s2{
   padding-top: 100px;
   display: flex;
   flex-direction: column;
   width: 80%;
   
}
.s2 h2{
   font-size: 70px;
}
.s3{
   display:flex;
   justify-content: center;
}
.s4{
   height: 250px;
   width: 350px;
   background-color: #2a2a2a;
   margin: 50px 50px;
   padding: 15px;
   border-radius: 10px;
}
.s4:hover{
   height: 252px;
   width: 352px;
   background-color:  rgb(248, 71, 71) ;

}

.s4 i{
   font-size: 60px;
   margin-bottom: 20px;
}
.s4 h3{
   font-size: 30px;
   margin-bottom: 5px;
}
.s4 p{
   font-size: 12px;
}
.s4 button{
   margin-top: 10px;
   border: none;
   background-color:transparent;
   color: #fff;
   cursor: pointer;
}
.contact {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70vh;
   padding: 200px;
   background-color: #333;
   
font-family: 'Roboto', sans-serif;
 }
 
 .leftcontact {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }
 
 .leftcontact h1 {
   font-size: 56px;
   margin-bottom: 20px;
 }
 
 .leftcontact p {
   margin-bottom: 10px;
 }
 
 .icon {
   margin-top: 20px;
   margin-left: 50px;
 }
 
 .leftcontact i {
   margin-right: 10px;
   color:#fff;
   font-size: 20px;

 }
 
 .leftcontact i:hover{
   
   color:rgb(248, 71, 71) ;
   
 }
 .rightcontact {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }
 
 input[type="text"],
 textarea {
   padding: 10px;
   margin-bottom: 10px;
   width: 100%;
   border: 1px solid #ccc;
   border-radius: 4px;
 }
 
 textarea {
   height: 150px;
 }
 
 button.submit {
   padding: 10px 20px;
   background-color: #333;
   color: #fff;
   border: none;
   cursor: pointer;
 }
 
 button.submit:hover {
   background-color:rgb(248, 71, 71) ;;
 }

#call{
   text-decoration: none;
   color: #fff;

}

#mail{
   text-decoration: none;
   color: #fff;

}
.typing-animation {
   font-size: 24px;
   color: #333;
   overflow: hidden; /* Hide overflowing characters */
 }
 
 #cursor {
   animation: blink 0.8s infinite;
 }
 
 @keyframes blink {
   0%, 100% {
     opacity: 1;
   }
   50% {
     opacity: 0;
   }
 }
